<div ng-app="storyApp">

    <div ng-view=""><h1>Loading...</h1></div>

    <script type="text/ng-template" id="partial2.html">
        <div>
            <p>Contents of partial2.html</p>
            <a href="TODO">Link to listview</a>
        </div>
    </script>

    <script type="text/ng-template" id="otherwise.html">
        <div>
            <p>Contents of otherwise.html</p>
        </div>
    </script>

    <script type="text/ng-template" id="listview.html">
        <div id="storyContainer" class="container">
            <h5>Total Stories = {{ stories.length }}</h5>

            <div ng-repeat="story in stories">
                <div id="main" ng-app>
                    <!-- navigation buttons -->
                    <nav class="{{ story.activeView }}" ng-click="$event.preventDefault()" ng-init="story.activeView='overview'">
                        <a href="#" class="overview" ng-click="story.activeView='overview'">Overview</a>
                        <a href="#" class="run-history" ng-click="story.activeView='run-history'">Run History</a>
                    </nav>
                    <!-- Overview view -->
                    <div ng-show="story.activeView == 'overview'">
                        <a href="#" editable-textarea="story.narrative" onbeforesave="updateStory(story.id, $data)"
                           e-rows="7" e-cols="40">
                            <pre>{{ story.narrative || 'no description' }}</pre>
                        </a>
                        <br>
                        <button ng-click="deleteStory(story.id)">Delete</button>
                    </div>
                    <!-- Run history view -->
                    <div ng-show="story.activeView == 'run-history'">
                        <div ng-controller="CurrentStoryController">
                            Last run status = {{ story.lastRunStatus }}
                            <br>
                            <button>Run</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>

        <b>Add new Story:</b>
        <br>
        <textarea rows="4" cols="50" name="comment" ng-model="newStory.narrative"></textarea>
        <br>
        <button ng-click="addStory()">Save</button>
##        <br> <br>
##        New story narrative: {{ newStory.narrative }}

##        <br>
##        <br>
##        <a href="#/partial2">Link to partial2</a>

##        <br>
##        <br>
##        Last rest response = {{ responseStatus }}

    </script>

    <script>

        var storyApp = angular.module('storyApp', ['xeditable']);

        var urlBase = 'http://prgdwm395319:2990/jira/rest/storyservice/1.0/story/';
        var addStoryUrl = urlBase.concat('add');
        var listForIssueUrl = urlBase.concat('list-for-issue/${issue.key}');
        var updateStoryUrl = urlBase.concat('update');
        var deleteStoryUrl = urlBase.concat('delete/');

        storyApp.controller('CurrentStoryController', function CurrentStoryController($scope, $http) {
            $scope.updateStory = function(storyId, nar) {
                console.log("In updateStory function, storyId = " + storyId + ", nar = " + nar);
                return $http.post(updateStoryUrl, {issueKey: "${issue.key}", id: storyId, narrative: nar});
            };
        });

        storyApp.controller('SimpleControllerRest', function SimpleControllerRest($scope, $http) {

            $scope.stories = {};
            $scope.responseStatus = 'initial_value';
            $scope.newStory = {};
            $scope.newStory.narrative = 'add new story text here';

            getStories();

            function getStories() {
                console.log("In getStories function");
                $http.get(listForIssueUrl)
            .
                success(function (stories) {
                    $scope.stories = stories;
                    $scope.responseStatus = 'getStories() rest response was OK';
                })
                        .error(function (error) {
                            $scope.responseStatus = 'Unable to load story data, rest error: ' + error.message;
                        });
            };

            $scope.updateStory = function(storyId, nar) {
                console.log("In updateStory function, storyId = " + storyId + ", nar = " + nar);
                return $http.post(updateStoryUrl, {issueKey: "${issue.key}", id: storyId, narrative: nar})
                .success(function (response){
                    $scope.responseStatus = 'updateStory() rest response was OK';
                })
                        .error(function (error) {
                            $scope.responseStatus = 'Unable to update story, rest error: ' + error.message;
                        })
                ;
            };

            $scope.deleteStory = function(storyId) {
                console.log("In deleteStory function, storyId = " + storyId);
                var dUrl = deleteStoryUrl.concat(storyId);
                var deleteFunc = $http.delete(dUrl);
                deleteFunc.success(function (response){
                    $scope.responseStatus = 'deleteStory() rest response was OK';
                    getStories();
                });
                deleteFunc.error(function (error) {
                    $scope.responseStatus = 'Unable to delete story, rest error: ' + error.message;
                });
                return deleteFunc;
            };

            $scope.addStory = function() {
                console.log("In addStory function");
                $scope.newStory.issueKey = '${issue.key}';
                var addFunc = $http.post(addStoryUrl, $scope.newStory);

                addFunc.success(function (response){
                    $scope.newStory.narrative = '';
                    $scope.responseStatus = 'addStory() rest response was OK';
                    getStories();
                });
                addFunc.error(function (error) {
                    $scope.responseStatus = 'Unable to add story, rest error: ' + error.message;
                });
                return addFunc;
            };

        });

        storyApp.config(function ($routeProvider) {
                    $routeProvider
                    .
                    when('/listview',
                            {
                                controller: 'SimpleControllerRest',
                                templateUrl: 'listview.html'
                            }
                    );

                    $routeProvider
                    .
                    when('/partial2',
                            {
                                controller: 'SimpleControllerRest',
                                templateUrl: 'partial2.html'
                            }
                    );
                    $routeProvider
                    .
                    otherwise(
                            {
                                redirectTo: 'listview'
                            }
                    );
                }
        );

    </script>

##    <br/>
##    <br/>
##    <a href="/jira/secure/CreateStoryAction!default.jspa?id=$issue.id">[Add New]</a>
##    <br>
##    <br>
##    <br>
##    <br>
##    <button ng-click="count = count + 1" ng-init="count=100">Increment</button>
##    count: {{ count }}
##    <br>
##    <br>


</div>

