<div id="storiesPanelMain">

    <button id="addNewStoryButton" class="aui-button aui-button-subtle">
        <span class="aui-icon aui-icon-small aui-iconfont-add">Configure </span>
        Add new story
    </button>

    <div>
        <br/>Other tests<br/>

        <div id="main-container" class="aui-panel">
            Here should be inserted the soy template stuff
        </div>

        <div id="add-new-story-container" class="aui-panel">
            Here should be inserted the soy template for add new story
        </div>

    </div>

</div>
