<div id="storiesPanelMain">

    <button id="addNewStoryButton" class="aui-button aui-button-subtle">
        <span class="aui-icon aui-icon-small aui-iconfont-add">Configure </span>
        Add new story
    </button>

    <div>
        <br/>Other tests<br/>

        <button id="dialog-button" class="aui-button">Show dialog</button>
        <br/><br/>
        <button id="dialog-2-button" class="aui-button">Show dialog 2</button>

    </div>


</div>
